.post-preview {
    margin: 50px 0px;

    a.post-preview {
        color: inherit;
        text-decoration: inherit;
        font-weight: inherit;
    }

    .post-preview-title {
        display: inline;
    }

    :hover .post-preview-title {
        color: #ffffff;
        background: #000000;
    }
}
